
<li> <%=link_to "Hello, World!", hello_path %></li>
<li> <%=link_to "Variables and Types", var_path %></li>
<li> <%=link_to "Arrays", arr_path %></li>
<li> <%=link_to "Functions", func_path %></li>
<li> <%=link_to "Objects", oandc_path %></li>
<li> <%=link_to "Compiling and Running with Arguments", compile_path %></li>
<p>
<li> <%=link_to "Quiz", quiz_path %></li>
</p>
<p>
<li> <%=link_to "Discussion forum" , dis_path %></li>
</p>
